img {
  border-radius: 0.1rem;
}
figure {
  margin: 0; 
  position: relative;
}

figure figcaption {
  position: absolute;
  left: 0;
  top: 0;
  color: rgba(0, 0, 0, 0.6);
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.4rem;
  font-weight: bold;
  margin-left: 1.5rem;
  margin-top: 1.5rem;
}
