.topnav {
  overflow: hidden;
  background-color: #333;
  font-size: 1.4rem;
}

.topnav a {
  float:left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 1.4rem 1.6rem;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.menu-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* Compensate for excess margin on outer gallery flex itema */
   margin: -1rem -1rem;
}

.menu-list-item {
  flex: 0 0 20rem;
  margin: 1rem;
  box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
  overflow: hidden;
  height: 20rem;
}

.menu-list-item-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 400ms ease-out;
}

.menu-list-item-image:hover {
  cursor: pointer;
  transform: scale(1.15);
}

.MenuList-spinner {
  color: #D2691E;
  text-align: center;
}

/* The folloqing rule will only run id your browser supports CSS grid. */
/* Remove or comment out the code below to see how the browser will fall back to flexbox styling. */

@supports (display: grid) {
  .menu-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 20rem);
    grid-gap: 2rem;
  }

  .menu-list,
  .menu-list-item {
    margin: 0;
  }
}
