.PrimaryHeader {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  width: 100%;
  background-color: #4d4d4d;
  height: 5rem;
  border-radius: 0.5rem;
}
.hamburger {
  position: absolute;
  left: 1rem;
  bottom: 1.5rem;
}

.logo {
  position: absolute;
  left: 5rem;
  font-family: 'Dancing Script';
  font-weight: 700;
  font-size: 2rem;
  color: #ece1e1;
  line-height: 1.0;
}

.Nav {
  font-size: 1.5rem;
}

.Nav a {
  color: #ece1e1;
  padding: 1.9rem 2rem 1.9rem 2rem;
  text-decoration: none;
  text-align: center;
}

.Nav a:hover {
  background-color: rgba(236, 225, 225, 0.8);
  color: black;
}

.Nav a.active {
  border-bottom: 0.2rem solid #D2691E;
  color: black;
}

@media screen and (max-width: 40rem) {
  .Nav a {
    padding: 1.5rem 1.6rem;
  }
}


