.ReactModal__Html--open,
.ReactModal__Body--open {
  overflow: hidden; /* prevents background page from scrolling when the Modal is open */
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 1500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.Overlay {
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.Modal {
  font-size: 1.4rem;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  background-color: #D2691E;
  outline: none;
  max-width: calc(100vw - 2rem);
  max-height: calc(100vh - 2rem);
  border-radius: 0.5rem;
  padding: 3rem 2rem 3rem 2rem;
  box-shadow: 0 0 2rem 0 rgba(255, 255, 255, 0.5);
  overflow-y: auto;
  position: relative;
}

.closeModal {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}

.closeModal__button {
  cursor: pointer;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 2rem;
  line-height: 1.6;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  color: #ece1e1;
  background-color: rgba(210, 105, 30, 0.5);
  transition: background-color 300ms, color 200ms;
}

.closeModal__button:hover {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

.ingredients {
  flex: 0 0 27%;
  line-height: 1.6;
  color: #ece1e1;
}

.ingredients__title {
  margin: 0;
  text-shadow: 0.2rem 0.2rem 0.4rem #000000;
}

.ingredients__list {
  list-style-type: none;
  padding: 0;
}

.ingredients__list li {
  margin-bottom: 0.5rem;
  margin-left: 0;
  text-shadow: 0.2rem 0.2rem 0.4rem #000000;
}

.ingredients__list li > i  {
  color: white;
  padding-right: .5rem;
  text-shadow: none;
}

.imgWrapper {
  flex: 0 0 27%;
  text-align: center;
  font-size: 1.6rem;
  margin: 0 2rem 0 2rem;
}

.imgWrapper > img {
  width: 100%;
  height: auto;
  border-radius: 0.4rem;
  box-shadow: 0.4rem 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.4);
}

.imgWrapper__caption {
  font-weight: bold;
  color: #ece1e1;
  text-shadow: 0.2rem 0.2rem 0.4rem #000000;
}

.instructions {
  line-height: 1.6;
  color: #ece1e1;
  flex: 0 0 27%;
}

.instructions__title {
  margin: 0;
  text-shadow: 0.2rem 0.2rem 0.4rem #000000;
}

.instructions__text {
  text-shadow: 0.2rem 0.2rem 0.4rem #000000;
}

@Media screen and (max-width: 41.5rem) {
  .Modal {
    overflow-y: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 90%;
    height: 100%;
  }

  .imgWrapper {
    flex: 0 25% 25%;
  }
  .imgWrapper > img {
    width: 50%;
    height: auto;
  }
}

/*@supports (display: grid) {
  .Modal {
    display: grid;
    grid-template-columns: repeat(auto-fill, 30rem);
    grid-gap: 3rem;
  }
  .ingredients,
  .imgWrapper,
  .instructions {
    margin: 0;
  }
}*/
